<html lang="en">
  <%- include('./partials/head.ejs')  %>
<body>
  
  <%- include('./partials/nav.ejs')  %>
  
  <div class="about content">
    <h2>About Us</h2>
    <p>This is the story behind The Blog Post, Node Demo Site</p>
    <p>This is the story behind The Blog Post, Node Demo Site</p>
    <p>This is the story behind The Blog Post, Node Demo Site</p>
    <p>This is the story behind The Blog Post, Node Demo Site</p>    
  </div>

  <%- include('./partials/footer.ejs')  %>

</body>
</html>